################################################################
# MERCATOR ENVIRONEMENT
################################################################

APP_NAME=Mercator
APP_ENV=local
APP_URL=http://localhost:8080

################################################################
# APPICATION KEY
################################################################
APP_KEY=

################################################################
# DEBUG and DB-TRACE
################################################################
APP_DEBUG=false
APP_DB_TRACE=false
LOG_CHANNEL=stack

################################################################
# DATABASE CONNEXION
################################################################
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mercator
DB_USERNAME=mercator_user
DB_PASSWORD=s3cr3t

#################################################################
# CPE
#################################################################

# URL configurable pour s’adapter aux changements de distribution CPE
CPE_API_URL=https://services.nvd.nist.gov/rest/json/cpes/2.0
# Clé API NVD (optionnelle mais recommandée)
NVD_API_KEY=

#################################################################
# LDAP
#################################################################
# - If LDAP_ENABLED=true => try LDAP; on success, log the mapped local user in.
# - If LDAP fails and LDAP_FALLBACK_LOCAL=true => try local DB credentials.
# - If LDAP_ENABLED=false => only local DB credentials.
LDAP_ENABLED=false
LDAP_FALLBACK_LOCAL=true
LDAP_AUTO_PROVISION=false
LDAP_AUTO_PROVISION_ROLE="User"

# Config
LDAP_LOGGING=true
LDAP_CONNECTION=default
LDAP_HOST=127.0.0.1
LDAP_USERNAME="cn=admin,dc=example,dc=org"
LDAP_PASSWORD=admin
LDAP_PORT=389
LDAP_USERS_BASE_DN="cn=users,dc=example,dc=org"
LDAP_TIMEOUT=5
LDAP_SSL=false
LDAP_TLS=false
LDAP_LOGIN_ATTRIBUTES="uid,cn,mail,sAMAccountName,userPrincipalName"
LDAP_NESTED_GROUPS=false
LDAP_GROUP=

#################################################################

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_HOST=mail.domain
MAIL_PORT=587
MAIL_AUTH=true
MAIL_SMTP_SECURE='tls'
MAIL_SMTP_AUTO_TLS=true
MAIL_USERNAME=
MAIL_PASSWORD=

# MAIL_DKIM_DOMAIN = 'yourdomain.com'
# MAIL_DKIM_PRIVATE = '/path/to/private/key'
# MAIL_DKIM_SELECTOR = 'default'
# MAIL_DKIM_PASSPHRASE = ''

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

##########################################################################
# Uncomment to use KeyCloak
# enable / disable
KEYCLOAK=disable
#KEYCLOAK_CLIENT_ID= # Client Name (on Keycloak)
#KEYCLOAK_CLIENT_SECRET=  # Client Secret
#KEYCLOAK_REDIRECT_URI=<Mercator IP Address>/login/keycloak/callback
#KEYCLOAK_BASE_URL=<KeyCloak IP Address>
#KEYCLOAK_REALM=   # RealM Name
#KEYCLOAK_AUTO_PROVISION=false # uncomment to disable the automatic creation of users
#KEYCLOAK_BTN_LABEL="Connexion SSO" # set the Keycloak login button label (defaults to 'Keycloak')
##########################################################################
