/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/vendor
.idea/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
mercator.sublime-project
mercator.sublime-workspace
composer.lock
docker/data/
docker/.env
database/migrate/*add_ldap_columns_to_users_table.php
