.env
.env.backup
.phpunit.result.cache
.editorconfig
*~
node_modules
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mercator.sublime-project
mercator.sublime-workspace
composer.lock
.idea/
config/datatables-buttons.php
config/datatables-fractal.php
config/datatables-html.php
config/datatables.php
config/excel.php
config/flare.php
config/ide-helper.php
config/ignition.php
config/insights.php
config/mercator-config.php
config/passport.php
config/tinker.php
config/trustedproxy.php
database/migrations/2016_06_01_000001_create_oauth_auth_codes_table.php
database/migrations/2016_06_01_000002_create_oauth_access_tokens_table.php
database/migrations/2016_06_01_000003_create_oauth_refresh_tokens_table.php
database/migrations/2016_06_01_000004_create_oauth_clients_table.php
database/migrations/2016_06_01_000005_create_oauth_personal_access_clients_table.php
database/migrations/*add_ldap_columns_to_users_table.php
docker/data/
docker/.env
public/hot
public/storage
public/vendor/
resources/views/vendor/
storage/*.key
storage/logs
stubs/
vendor/
