.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.navbar-brand-full {
    color: #7C123E;
}

.navbar-nav .nav-link {
    color: #7C123E;
}

.sidebar {
    background-color: #FFFFFF;
}

.sidebar-minimizer {
    background-color: #FFFFFF;
}

.sidebar .nav-item {
    cursor: pointer;
    color: #000000;
    background-color: #FFFFFF;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #000000;
    border-left: 0;
}

.sidebar .nav-link {
    display: block;
    padding: .75rem 1rem;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    background: 0 0;
}

.sidebar .nav-link:hover .nav-icon {
    color: #7C123E;
}

.sidebar .nav-link:focus .nav-icon {
    color: #7C123E;
}

.sidebar .nav-link .nav-icon {
    color: #7C123E;
}

.nav-link {
    color: #000000;
    background-color: #FFFFFF;
}

.sidebar .nav-link.active {
    color: #000000;
    background-color: #FFFFFF;
}

.sidebar .nav-link.active:hover {
    background-color: #20a8d8;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-group .recommended::after {
    content: " *";
    color: orange;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

/* Fixed Headers, On-Page Links, and Overlapping Content, Oh My! */
/* https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/ */
html {
  scroll-padding-top: 70px; /* height of sticky header */
}

/* Risks selest2 colors */
.highRisk {
  background: #E15759;
  padding: 3px;
  border-radius: 20% / 30%;
}

.mediumRisk {
  background: #F28E2B;
  padding: 3px;
  border-radius: 20% / 30%;
}

.lowRisk {
  background: #F1CE63;
  padding: 3px;
  border-radius: 20% / 30%;
}

.veryLowRisk {
  background: #8CD17D;
  padding: 3px;
  border-radius: 20% / 30%;
}

.noRisk {
  background: #FFFFFF;
  padding: 3px;
  border-radius: 20% / 30%;
}

/**
 * Admin application edit - Evènements
 */
.textarea-custom-size {
    min-height: auto;
    width: 100%;
}

/**
 * Accordéons : utilisés pour les permissions
 */
.accordion {
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    padding: 5px 5px 5px 30px;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    transition: all 0.3s;
    margin-bottom: 0;
}

.accordion:hover, .accordion.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.accordion:before {
    position: absolute;
    content: '\003e';
    font-size: 18px;
    left: 20px;
    top: 10px;
}

/*.accordion.active:before {*/
/*    content: 'v';*/
/*}*/

.panel {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    background-color: white;
    overflow: hidden;
    opacity:0;
    max-height: 0;
    border: 0.5px solid #eee;
    transition: all ease-in-out 0.2s;
}

.panel.active {
    opacity: 1;
    max-height: 150px;
}

.permission-list, .check-all-wrapper {
    width: 50%;
}

.help-block {
    color: #7C123E;
    font-size: 0.7rem;
}

/* Added to hide/show items in explorer.blade.php */
.select2-container--default .select2-results__option[aria-disabled=true] { display: none;}

/* Context Menu for nodes */
#explore_context{
        position: absolute;
        width: auto;
        height: auto;
        background-color: #f2f2f2;
        border: 1px solid #cfcfcf;
        display: none;
        opacity: 0;
        min-height: 3rem;
          padding: 10px 16px;
          list-style: none;
    }
    #explore_context a:hover{
          text-decoration:none;
    }
    .fullscreen_network{
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 1030;
        height: 100vh !important;
        width: 100vw;
    }

    #add_node_button{
      margin-left: 1rem
    }


    .explore_commands{
      display: flex;
      align-items: center;
    }
    .command{
      margin-left: 1.5rem;
    }

    .command[type="checkbox"]{
      margin: 0 .5rem .5rem 1.5rem;
    }

    .explore_commands .fas{
      margin-bottom: .6rem;
    }
    .explore_commands label{
      color: #20a8d8;
      cursor: pointer
    }
