version: "3.7"
services:
  app:
    build:
      context: ../
    image: mercator
    restart: unless-stopped
    # working_dir: /var/www/
    volumes:
      # SMTP conf
      - ./ssmtp.conf:/etc/ssmtp/ssmtp.conf
      # ne peut pas être read-only (commande php artisan key:generate le modifie)
      - ./.env:/var/www/mercator/.env
      # map la database sqlite sur le disque de l'hôte
      - ./data/sql/:/var/www/mercator/sql/
    # nginx conf listen port 80 or other if custom
    ports:
      - 8000:80
    networks:
      - local

networks:
  local:

volumes:
 db:
