/***************************************************************************/

:root {
    --cui-font-sans-serif: "Poppins", sans-serif;
}
body {
    background-color: #dfdfdf;
    font-family: var(--cui-font-sans-serif);
    font-size: 12px;
}

/***************************************************************************/
/* Top side menu */
/***************************************************************************/

.navbar {
    background-color: #ffffff !important;
    border-bottom: 1px solid #ddd;
}
.navbar-brand {
    width: 150px;
    text-align: center;
    color: #000000 !important;
}
.navbar-nav .nav-link {
    color: #800000 !important;
}
.navbar-nav .nav-item {
    margin-right: 20px;
}
.navbar-nav .nav-item a {
    font-size: 12px;
    padding-right: 70px;
}
.navbar-nav .nav-item a i {
    margin-right: 20px;
    color: #800000;
    font-weight: bold;
    flex-shrink: 0;
    font-size: 16px;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a.selected {
    background-color: #f0f0f0;
    color: #000000;
}

/***************************************************************************/
/* Left side menu */
/***************************************************************************/

.sidebar {
    height: 100vh;
    width: 230px;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: #ffffff;
    padding-top: 0px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding-bottom: 150px;
    scroll-behavior: smooth;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
}
.sidebar a i {
    margin-right: 10px;
    color: #800000;
    font-weight: bold;
    flex-shrink: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar a .menu-text {
    flex-grow: 1;
}
.sidebar a .dropdown-indicator {
    margin-left: auto;
}
/* Augmente l'espace entre le texte et l'icône */
.dropdown-toggle::after {
        margin-left: 8px;
    }
.sidebar a:hover {
    background-color: #f0f0f0;
}
.sidebar a.active {
    background-color: #f0f0f0;
}

/***************************************************************************/

.content {
    margin-left: 230px;
    margin-top: 56px;
    transition: margin-left 0.3s ease;
    background-color: #dfdfdf;
    padding: 20px;
}

/***************************************************************************/

.sidebar-hidden {
    transform: translateX(-100%);
}
.content-expanded {
    margin-left: 0;
}

.sidebar-footer {
    position: fixed;
    bottom: 0;
    width: 230px;
    color: #000000;
    text-align: center;
    font-size: 12px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.sidebar .search-box {
    padding: -10px 15px 10px 15px;
}
.sidebar .search-box input:focus {
    box-shadow: none !important;
    border-color: #ccc !important;
}
.toggle-sidebar-btn {
    color: #000000 !important;
    border: 1px;
}

/***************************************************************************/

.ck-editor__editable {
    min-height: 150px;
}

.ck-powered-by {
    display: none !important;
}

/***************************************************************************/

.datatable {
    width: 100% !important;
}

.dataTable td,
.dataTable th {
    vertical-align: middle;
}
/*
.dataTables_length,
.dataTables_filter,
.dt-buttons {
}

.dataTables_filter {
}

.dt-buttons .btn {
}
*/
.table {
    line-height : 16px;
}

.table.datatable {
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
}

/***************************************************************************/

/* Supprime le soulignement dans les liens dans les card-body */
.card-body a {
    text-decoration: none;
}

/* Supprime le soulignement dans les lien des dataTables */
.dataTable a {
    text-decoration: none;
}

/* Supprime le soulignement dans les lien des tables */
.table a {
    text-decoration: none;
}

/***************************************************************************/

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

/***************************************************************************/

.has-error .invalid-feedback {
    display: block !important;
}

.badge-info {
    color: black;
    background-color: #94e5ff;
    margin-bottom: 5px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
}

table.dataTable tbody th.focus, table.dataTable tbody td.focus {
  outline: 0px;
  outline-offset: 0px;
}

table .navbar-brand-full {
    color: #7C123E;
}

/***************************************************************************/

@media print {
    .btn {
        display: none;
    }
}

.btn {
    margin-left: 5px !important;
    font-size: 12px;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/***************************************************************************/

.form-control {
    font-size: 12px;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-group .recommended::after {
    content: " *";
    color: orange;
}

.form-group .recommended1::after {
    content: " *";
    color: orange;
}

.form-group .recommended2::after {
    content: " **";
    color: orange;
}

.form-group .recommended3::after {
    content: " ***";
    color: orange;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

/***************************************************************************/
/* Risks colors */
/***************************************************************************/

.highRisk {
  background: #E15759;
  padding: 3px;
  border-radius: 20% / 30%;
}

.mediumRisk {
  background: #F28E2B;
  padding: 3px;
  border-radius: 20% / 30%;
}

.lowRisk {
  background: #F1CE63;
  padding: 3px;
  border-radius: 20% / 30%;
}

.veryLowRisk {
  background: #8CD17D;
  padding: 3px;
  border-radius: 20% / 30%;
}

.noRisk {
  background: #FFFFFF;
  padding: 3px;
  border-radius: 20% / 30%;
}

/***************************************************************************/
/* Admin application edit - Evènements */

.textarea-custom-size {
    min-height: auto;
    width: 100%;
}

/*************************************************************************/

/* Accordéons : utilisés pour les permissions */

.accordion {
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    padding: 5px 5px 5px 30px;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    transition: all 0.3s;
    margin-bottom: 0;
}

.accordion:hover, .accordion.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.accordion:before {
    position: absolute;
    content: '\003e';
    font-size: 18px;
    left: 20px;
    top: 10px;
}

/*.accordion.active:before {*/
/*    content: 'v';*/
/*}*/


.panel {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    background-color: white;
    overflow: hidden;
    opacity:0;
    max-height: 0;
    border: 0.5px solid #eee;
    transition: all ease-in-out 0.2s;
}

.panel.active {
    opacity: 1;
    max-height: 150px;
}

.permission-list, .check-all-wrapper {
    width: 50%;
}

.help-block {
    color: #7C123E;
    font-size: 0.7rem;
}

/* Added to hide/show items in explorer.blade.php */
.select2-container--default .select2-results__option[aria-disabled=true] { display: none;}

/* Context Menu for nodes */

#explore_context{
        position: absolute;
        width: auto;
        height: auto;
        background-color: #f2f2f2;
        border: 1px solid #cfcfcf;
        display: none;
        opacity: 0;
        min-height: 3rem;
          padding: 10px 16px;
          list-style: none;
    }

#explore_context a:hover{
      text-decoration:none;
}
.fullscreen_network{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1030;
    height: 100vh !important;
    width: 100vw;
}

#add_node_button{
  margin-left: 1rem
}

/*****************************************************************************/

.explorer-screen {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.explorer-screen .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.explorer-screen #mynetwork {
    flex-grow: 1;
    min-height: 0; /* Important pour éviter les débordements */
}

.explore_commands{
  display: flex;
  align-items: center;
}

.command{
  margin-left: 1.5rem;
}

.command[type="checkbox"]{
  margin: 0 .5rem .5rem 1.5rem;
}

.explore_commands .fas{
  margin-bottom: .6rem;
}
.explore_commands label{
  color: #20a8d8;
  cursor: pointer
}

/***************************************************************************/

.form-group {
      margin-bottom: 10px !important;
      margin-top: 10px !important;
}

/***************************************************************************/

/*
.graphviz {
    overflow-y: auto;
    min-height: 550px;
    width: 100%;
}

.graphviz svg {
    width: 100%;
    height: 600px;
}
*/

#graph-container {
  max-width: calc(100vw - 300px);
  height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
}

.graphviz {
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
}

.graphviz svg {
  width: auto !important;      /* Ne force pas l'élargissement */
  height: 100%;
  max-width: none !important;
  max-height: 500px;
  display: inline-block;
}

/* for disabled save icon on graph/edit */

.mapping-icon.disabled {
  color: #6c757d;     /* couleur gris Bootstrap */
  opacity: 0.5;       /* effet visuel désactivé */
  pointer-events: none; /* désactive les clics */
  cursor: not-allowed;  /* change le curseur */
}

/***************************************************************************/
