name: Build & Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'version.txt'
      - '**/*.php'
      - '**/*.js'
      - '**/*.vue'
      - 'Dockerfile'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Read version from version.txt
        id: version
        run: |
          VERSION=$(cat version.txt | tr -d ' \n')
          echo "VERSION=$VERSION"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Log in to Docker Hub (optional)
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64  # linux/arm64 peut être rajouté plus tard
          push: true
          build-args: |
              APP_VERSION=${{ steps.version.outputs.version }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.version.outputs.version }}
            ghcr.io/${{ github.repository }}:latest
